@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


body {
        font-family: "Raleway", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        /* margin-left: 3%;
        margin-right: 3%; */
        font-size: medium;
    }


    #logo
    {
        margin-left: 3%;
        margin-right: 3%;
    }
    .search{
        margin-left: 3%;
        margin-right: 3%;
    }

    .host
    {
        margin-left: 3%;
        margin-right: 3%;
    }
    .activity
    {
        margin-left: 3%;
        margin-right: 3%;
    }

#logo
{
   padding-top: 10px; 
}

#titre_principal ul
{
    display: flex;
    justify-content: flex-end;   
}

#titre_principal
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#titre_principal li
{
    list-style-type: none;
    word-spacing: 2em;
    color: black;
    opacity: 0.6;
    font-size: 1.1em;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    
}

#titre_principal ul a:hover
{
    padding-top: 24px;
    border-top: 3px solid;
    border-color: #0065fc;
    color: #0065fc;
}

#titre_principal nav
{
    width: 100%
}

#link_color
{
    color:#0065fc;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
}

a{
    text-decoration: none;
    color: black;
}

.search_icon
{
    padding: 14px;
    border-radius: 10px 0px 0px 10px;
    background-color: #f2f2f2;
    font-size: 19px;
    width: 20px;
    border: 1px solid #f2f2f2;
}

.rechercher
{
    padding: 14px;
    border: 1px solid #f2f2f2;
    width: 210px;
    font-size: 19px;
    outline: none;
}

.submit
{
    display: inline;
}
.search_button
{
    padding: 14px;
    margin-left: -4px;;
    font-size: 1.2em;
    border-radius: 0px 10px 10px 0px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    border: 1px solid #0065fc;
}

.filters
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.filter
{
margin-left: 2em;
font-weight: 700;
margin-bottom: auto;

}

.filter:hover
{
    background-color:#f1f7ff;
}


h2{
    display: block;
}

.results
{
    padding-bottom: 20px;
}

.text_results
{
    font-size: 1.1em;
}

.host
{
    display: flex;
}

.host_marseille, .host_pop
{
    background-color: #F2F2F2;
    padding-top: 10px;
    border-radius: 20px;
}

.host_header_title_marseille
{
    margin-left: 25px;
    
}


.host_header_title_pop
{
    margin-left: 30px;
    margin-right: 21px;
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
}

.hosting_card_img
{
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.pop_card_size
{
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.popular_card
{
    width: 31%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.container_host{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

#chart_icon
{
    display: inline-block;
}


figure
{
    width: 270px;
    padding: 4px;
    margin: 12px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 1px 10px 1px rgb(235 235 235);
    display: block;
}

figcaption {
    display: block;
    padding-left: 24px;
    width: 100%;
    box-sizing: border-box;
}

figcaption i[data-active=true]
{
    color: #0065fc;
}
figcaption i[data-active=false]
{
    color: #e7e7e7;
}

.hosting_card_figcaption
{
line-height: 8px;
padding-bottom: 4px;
}


.figure_popular_card
{       
        width: 100%;
        /* height: 30%; */
        margin-left: 30px;
        padding: 6px;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 1px 5px 2px rgb(209 209 209);
    
}

.link_afficher
{
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 1.15em;
}

.host_pop
{
    order: 1;
    /* width: 50%; */
    border-radius: 20px;
    margin-left: 2%;
}

.pop_position
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

#popular_host
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.host_card_pop{
    
    
    display: flex;
    border-radius: 10px 10px 10px 10px;
}




.filters i
{

        color: #0065fc;
        padding: 16px;
        border-radius: 100px;
        margin-right: 10px;
        background-color: #deebff;
        border: 1px solid #deebff;
        width: 16px;
        text-align: center;
        cursor: pointer;
    
}

#info_icon
{
    border: 1px solid rgb(202, 202, 202);
    padding: 8px;
    border-radius: 100%;
    color: #0065fc;
    text-align: center;
    width: 12px;
    margin-right: 15px;
    font-size: 12px;
}

.filter
{
    display: block;
    border: 2px solid rgb(221, 220, 220);
    padding-right: 16px;
    border-radius: 30px;
}

.activities
{
    display: block;
    margin-top: 4rem;
}

.activity_card
{
    width: 300px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #f2f2f2d8;
    margin-top: 13px;
    margin: 0;
}

.large_img
{
    width: 100%;
    height: 410px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.small_img
{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.figure_double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities_positions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: -10px;
    margin-right: -10px; */
}

footer {
    background: #f2f2f2;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

footer ul
{
    list-style-type: none;
    padding: 0%;
}

.footer_elements{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media all and (max-width: 480px)
{

    #logo
    {
        order:-1;
    }

    #link_color
    {
        order: -1;
        margin-right: 10px;
    }

    #titre_principal
    {
        flex-wrap: wrap;
    }

    #titre_principal nav
    {
    border-bottom: rgb(238, 238, 238) 3px solid;
    }

    #titre_principal ul 
    {
    justify-content: space-around;
    padding-inline-start: 0px
    }

    #titre_principal nav a:hover
    {
    padding-bottom: 16px;
    border-top: white;
    border-bottom: 3px solid;
    border-color: #0065fc;
    color: #0065fc;
    }



    

    .filters i 
    {
        margin-right: 8px
    }
    .filter_title
    {
        margin-right: 8px;
    }

    .filter
    {
        padding-right: 0%;
    }

    .host {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .host_marseille  
    {
        background-color: #ffffff;
        padding-right: 3%;
    }

    .hosting_card_img
    {
    height: 160px;
    }

    .popular_card
    {
        width: 31%;
        height: 160px;
    }

    .host_pop {
        order: -1;
        border-radius: 0px;
        margin-left: 0%;
    }

    figure {
        width: 95%;
        background-color: white;
        border-radius: 20px;
        box-shadow: 4px 1px 10px 1px rgb(235 235 235);
        display: block;
    }


    .figure_popular_card {
        width: 100%;
        margin-left: 0px;
    }

    .activities
    {
        padding-right: 3%;
    }

.large_img
{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}


.activity_card {
    width: 100%;
    margin-top: 30px;
}

.footer_elements
{
    flex-direction: column;
    padding-right: 0%;
}




}


@media all and (max-width: 780px) and (min-width: 600px)
{
    #hebergement
    {
        display: block;
    }

    .host_pop
    {
        order: 1;
    }

    
    
    .popular_card {
        width: 52%;
        
    }
    .figure_popular_card {
        width: 100%;
    }

    .figure_double
    {
        justify-content: space-around;
    }

    .activity_card
    {
        margin-bottom: 10px;
    }

    .footer_elements
    {
        padding-right: 5%;
    }
}